<h1>Master Service List</h1>

<p id="create_service"><%= link_to 'Create New Service', new_service_path %></p>

<% for service in @services %>
<ul class="service_instance" style="border-color: #<%=h service.season.color %>">
  <li><h3><%= link_to service.name, service_path(service) %></h3></li>
  <li><%=h service.season.name %></li>
  <li><%=h service.attached_files.size %> attachments</li>
  <li><%=h service.comments.size %> <%= link_to 'comments', service_comments_path(service) %> </li>
  <li><%= link_to 'Edit', edit_service_path(service) %> | <%= link_to 'Destroy', service, :confirm => 'Are you sure you want to destroy this service?', :method => :delete %></li>
</ul>
<% end %>
