<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Season of Church Year:</b>
  <%=h @service.season.name %>
</p>

<p><%= link_to "Join the discussion!", service_comments_path(@service.id) %> Currently, there are <%= @service.comments.size %> comments.</p>

<p>
  <b>Description:</b>
  <%=h @service.description %>
</p>

<ul id="service_times_list">
<% @service_times.each do |service_time| %>
  <li><%= service_time.service_time %> on <%= service_time.service_date %> - <%= link_to 'Delete', [@service, service_time], :confirm => 'Do you want to delete this service time?', :method => 'delete' %>
<% end %>
</ul>


<% form_for([@service, @service_time = ServiceTime.new]) do |f| %>
  <p>
    <%= f.label :service_date, "Choose service date:" %>
    <%= f.date_select :service_date %>
  </p>

  <p>
    <%= f.label :service_time, "Choose service time:" %>
    <%= f.time_select :service_time %>
  </p>

  <p><%= submit_tag "Add Service Time" %></p>
<% end %>

<p>
  <b>Last updated by:</b>
  <%=h @service.user.name %>
</p>

<p><b>Attachments:</b></p>
<ul id="attachment_list">
<% @attachments.each do |attach| %>
  <li>
    <%= link_to attach.name, attached_file_path(attach.id) %> - <%= link_to "[Download]", attach.attached.url %><br />
    Submitted by <%= link_to attach.user.name, user_path(attach.user.id) %> at <%= attach.created_at %>
  </li>
<% end %>
  <li><%= link_to "[Add Attachment]", new_service_attached_file_path(@service.id) %></li>
</ul>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
