<h1><%=h @attached_file.name %></h1>
<p>This attachment is attached to <%= link_to @attached_file.service.name, service_path(@attached_file.service.id) %>.</p>

<p><%=h @attached_file.attached_file_name %> <em>(<%=h @attached_file.attached_content_type %>)</em> - <%= link_to "[Download]", @attached_file.attached.url %></p>

<p><%= link_to "Join the discussion!", attached_file_comments_path(@attached_file.id) %> Currently there are <%= @attached_file.comments.size %> comments.</p>

<p><%=h @attached_file.description %></p>
