<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Trinity - The Worship Coordination System</title>
		<%= stylesheet_link_tag 'scaffold' %>
	</head>

	<body>

    <div id="header">
      <% if !current_user %>
        <h1><%= link_to 'Welcome to Trinity', root_path %></h1>
        <h2>The online worship coordination application.</h2>

        <%= link_to "Register", new_account_path %> | 
        <%= link_to "Log In", new_user_session_path %>
      <% else %>
        <h1><%= link_to 'Welcome to Trinity', services_path %></h1>
        <h2>The online worship coordination application.</h2>

        <%= link_to "My Account", account_path %> | 
        <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
      <% end %>
    </div>

    <div id="content">
			<%= yield %>
    </div>

    <div id="footer">
      <p>&copy; <a href="mailto:boblmartens@gmail.com">Bob Martens</a> 2009</p>
    </div>
	</body>

</html>
