<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Trinity - The Worship Coordination System</title>
		<%= stylesheet_link_tag 'scaffold' %>
	</head>

	<body>

    <div id="header">
      <% if !current_user %>
        <p>
          <%= link_to "Register", new_account_path %> | 
          <%= link_to "Log In", new_user_session_path %>
        </p>
      <% else %>
        <p>
          Welcome back <%=h current_user.name %> | 
          <%= link_to 'My Account', account_path %> | 
          <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
        </p>
      <% end %>
    </div>

    <div id="content">
      <h1 id="site_title"><%= link_to "Bob's Church of Demoing", services_path %></h1>

			<div id="yield">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <p>
        This site uses <%= link_to "Trinity 0.1.0", "http://trinity.bobmartens.net" %> | 
        &copy; <a href="mailto:boblmartens@gmail.com">Bob Martens</a> 2009
      </p>
    </div>
	</body>

</html>
